body{
    text-align: center;
}

h1{
    color: blue;
}
.line{
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

#utility app{
    width: 100%;
    height: 800px;
    background-color: lightcoral;
}

img{
    transition: transform .ss;
}
img:hover {
    transform: scale(0.9);
}